.headerst {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(69, 133, 133);
}
.header_conteiner {
  display: flex;
  
}
.header_content {
  
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}

.header_content:hover {
  background-color: #005f5f;
}

.card_conteiner  {
  background-color: rgb(69, 133, 133);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.card_content {
  background-color: #569ea3; 

  border-radius: 8px;
  width: calc(30% - 20px); 
}

.card_content:hover {
  background-color: #005f5f;
}

.introduction {
  width: 100%;
  background-color: rgb(69, 133, 133);
  color: black;
  font-size: 23px;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gggc {
  background-color: rgb(69, 133, 133);
  color: black;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gg {
  margin-top: 40px;
  text-align: center;
}